@import url('https://fonts.googleapis.com/css?family=Lobster&display=swap');

.headerMain {
    display: flex;
    padding: 20px 40px 11px;
}

.headerShadow {
    box-shadow: 0 -27px 61px 3px rgba(0,0,0,0.52);
}

.logoImage {
    margin-top: -15px;
    height: 50px;
    width: 43px;
}

.logoText {
    margin-top: -3px;
    margin-left: 20px;
    font-family: 'Lobster', cursive;
    font-size: 35px;
    color: rgb(105, 101, 82);
}

.logo {
    display: inline-flex;
    flex: 1;
}

.logo:hover {
    cursor: pointer;
}

.controlMenu {
    margin-top: -5px;
    flex: 0;
    min-width: 160px;
}
